/* Default styles (light mode) */
:root {
    --tranDur: 0.6s;
    --recordingAudioBoxWidth: 20.625rem;
    --colour1: #ffffff;
    --backgroundColor: #ffffff;
    --mainHeadingsBacColor: #D9EDF7;
    --subHeadingsBackground: #E9E9E9;
    --palletButtonsColor: #ffffff;
    --bodyBackgroundColor: #F0F3F5;
    --colour2: #2c5172;
    --colour3: #bfbabd;
    --colour4: #ecf6fb;
    --colour5: #000000;
    --colour6: #444444;
    --colour7: #716f64;
    --colour8: #0d0d0d;
    --colour9: #9d1348;
    --colour10: #9a1616;
    --colour11: #000000c9;
    --colour12: #6fb43f;
    --colour13: #2282bf;
    --colour14: #cdcece;
    --colour15: #868687;
    --colour16: #f3efd4;
    --colour17: #add8e6;
    --colour18: #2282bf38;
    --colour19: #2A404B;
    --tabTxtColor: #2A404B;
    --colour20: #dbdee0;
    --colour21: #00000017;
    --colour22: #d3d3d3;
    --colour23: #dddddd;
    --colour24: #D9EDF7;
    --colour25: #1096D9;
    --colour26: #efefef;
    --colour27: #ccc;
    --colour28: #5C8397;
    --colour29: #E9E9E9;
    --colour30: #A1A0A0;
    --colour31: #f1f1f1;
    --colour32: #e5f0f5;
    --colour33: #bcbabb;
    --colour34: #0277d7;
    --colour35: #999999;
    --colour36: #7da1be;
    --colour37: #3aaa35;
    --colour38: #2282bf;
    --colour39: #133173;
    --colour40: #e7f0f9;
    --colour41: #2ecc71;
    --colour42: #59c8ff;
    --colour43: #c8c7c7;
    --colour44:#006eae;  
    --colorDanger: #b81b13;
    --colorSuccess: #0fb50f;
    --borderColor: #d1d2d3;
    --greyBackGround: #f1f3f4;
    --whiteColor: #ffffff;
    --borderRadius: 0.25rem;
    --blackColor: #000000;
    --borderWidth: 0.0625rem;
    --textColor: #646464;
    --colorWarning: #ffc61a;
    --pageFonttSize: 1rem;
    --commonMarginPadding: 1rem;
    --headingFontSizeDiffrenece: 3px;
    --colorPrimary: #17a1e6;
    --speed: 4s;
    --greyBorder: 0.0625rem solid var(--borderColor);
    --sideBarArrowOpen: rotate(180deg);
    --sideBarArrowClose: rotate(1deg);
    --graphScoreColor: #182f58;
    --activeTabTxtColor: var(--whiteColor);
    --appliedFilterColor: #E1E1E1;
    --shimmerColor: #dddddd;
}

/* Dark mode styles */
/* @media (prefers-color-scheme: dark) {
    :root {
      --colour1: var(--whiteColor);
      --backgroundColor: var(--colour5);
      --bodyBackgroundColor: #0f0f0f;
      --mainHeadingsBacColor: #013e5c;
      --subHeadingsBackground: #373636;
      --palletButtonsColor: var(--colour5);
      --borderColor: var(--whiteColor);
      --colour29: #102b3a;
      --colour26: var(--colour5);
      --colour19: var(--whiteColor);
      --colour23: var(--whiteColor);
      --tabTxtColor: var(--whiteColor);
      --greyBackGround: #f1f3f4;
      --borderRadius: 0.25rem;
      --blackColor: var(--colour5);
      --borderWidth: 0.0625rem;
      --textColor: var(--whiteColor);
      --graphScoreColor: #005cff;
      --activeTabTxtColor: var(--colour5);
      --appliedFilterColor: #013e5c;
      --shimmerColor: #3e3e3e;
    }
  } */



* {
    font-family: calibri, calibriregular, Arial, Helvetica, sans-serif;
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-size: var(--pageFonttSize);
    color: var(--textColor);
    line-height: 1.3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

::-webkit-scrollbar {
    width: 0.3125rem;
    height: 0.4375rem;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.625rem;
    background-color: var(--textColor);
}

@media screen and (min-width: 100em) {
    :root {
        --pageFonttSize: 1rem;
        /* --commonMarginPadding: 18px; */
        /* --headingFontSizeDiffrenece: 3px; */
    }
}