.modalBox{
    width: 100%;
    left:0;
    transition: width 0.3s linear,margin-left 0.3s linear,display 0.3s linear;
}

.modalBox.shrinked {
    width: calc(100% - 18rem);
    left: 18rem;
}

.modalBox, .modalBoxTestPlatform {
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0px;
    left: 0px;
    background: var(--colour11);
    display: flex;
    height: 100vh;
    z-index: 3;
}

.modalContent, .modalBoxTestPlatformContent {
    width: 40%;
    /* margin: 50px auto; */
    background-color: var(--colour33);
    border-radius: 5px;
    display: block;
    padding: 10px;
}

.modalContent .modalHeader, .modalBoxTestPlatformContent .modalHeaderTestPlatform {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 15px 0px;
    border-bottom: 1px solid;
}

.modalContent .modalBody, .modalBoxTestPlatformContent .modalBodyTestPlatform {
    width: 100%;
    display: block;
    align-items: center;
    padding: 15px 0px;
    cursor: text;
    flex-wrap: wrap; 
}

.modalContent .modalFooter, .modalBoxTestPlatformContent .modalFooterTestPlatform {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn, .headerButtons .btn {
    border: none;
    position: relative;
    background: var(--colour44);
    color: var(--whiteColor);
    padding: 3px 15px;
    font-size: inherit;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}